{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
    <p class="lead">
        Please login if you already have Account
        <br>
        If you are new to our website please signup

    </p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5500/users/templates/users/Home%20Page%20HTML.html" role="button">Home</a>

      

        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:5500/users/templates/users/Home%20Page%20HTML.html" role="button">Home</a>


        {% endif %}

    </p>
</div>

{% endblock content %}